{% extends 'acomodacao/base.html' %}

{% block menu %}
{% if sub_id %}
<a href="{% url 'revisar_submissao' %}" class='btn ml2 bl'>Revisar Submissão</a>
{% endif %}
<a href="{% url 'home' %}" class='btn ml2 bl'>Home</a>
{% endblock %}

{% block content %}
{% if sub_id %}
<div class="form-text">
    <p>Protocolo de Submissão: <b>{{ sub_id }}</b></p>
    {% if request.session.solicitacoes %}
    {% for solicitacao in request.session.solicitacoes %}
    <p>{{ solicitacao.acao }} - {{ solicitacao.disciplina }}</p>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <button class='btn-orange ml2 bl'>Enviar</button>
</form>

    

{% endblock %}