{% extends 'acomodacao/base.html' %}

{% block content %}
<div class="form-text">
<table>
<tr>
    <th>Sigla</th>
    <th>Disciplina</th>
    <th>Ação</th>
</tr>
{% for solicitacao in solicitacoes %}
<tr>
    <td>{{ solicitacao.disciplina.sigla }}</td>
    <td>{{ solicitacao.disciplina.nome }}</td>
    <td>{% if solicitacao.acao == "R" %}Retirar{% else %}Incluir{% endif %}</td>
</tr>

{% endfor %}
</table>
</div>
<div class="form-text">
<table>
<tr>
<td>Protocolo</td><td>{{ submissao.id }}</td>
</tr>
<td>Data/Hora</td><td>{{ submissao.data_hora }}</td>
</table>

</div>
{% endblock %}